// Colors
$text_color: #42474C;
$title_color: #D6B480;
$title_light: #FCF6F0;
$disabled: #EDEFF2;

// Mixins
@mixin cover_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin contain_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin center_x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin three_rows {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin two_rows {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin one_row {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// Containers
$outside_width: calc((100vw - 1328px) / 2);

.banner_main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #16191D;
        opacity: 0.72;
        z-index: 5;
    }

    .logo_wrapper {
        text-align: center;
    }
}

.banner_main_content {
    position: relative;
    z-index: 10;
    margin-top: -140px;
}

.banner_main_title {
    margin-top: 56px;
}

.banner_main_nav {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;


    ul {
        display: flex;
    }

    li {
        margin: 0 50px;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            right: -80px
        }
    }

    a {
        white-space: nowrap;
        color: #EDDBBF;
    }
}

.page_description {
    padding: 160px 0 140px;
    position: relative;

    .container {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 10;
    }

    .text_editor {
        max-width: 736px;
        width: 100%;
    }

    .title_wrapper {
        h2 {
            text-transform: uppercase;
            letter-spacing: 0.02em;
            font-size: 48px;
        }

        margin: 32px 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .subtitle_small {
        padding-left: 18px;
    }
}

.animate_logo {
    position: absolute;
    top: 72px;
    left: 19vw;
    z-index: 5;
}

// History place
.history_place {
    padding: 280px 0 220px;
    @include bg;

    .wrapper {
        width: 100%;
        max-width: 510px;
        position: relative;
        z-index: 10;
    }

    h2 {
        color: $title_light;
        margin-bottom: 32px;
    }

    .circle_btn {
        color: $title_light;
    }

    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: linear-gradient(90deg, rgba(22, 25, 29, 0.65) 48.1%, rgba(22, 25, 29, 0) 100%);
    }
}

// History place End

// section_slider_one
.section_slider {
    padding: 120px 0 20px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    .slick-track {
        display: flex;
    }
    .slick-dots {
        position: absolute;
        bottom: 200px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        z-index: -1;
        opacity: 0;
    }

}

.slider_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_description {
    max-width: 456px;

    .circle_btn {
        color: $text_color;
    }
}

.slider_title {
    margin-bottom: 78px;
}

.slide {
    position: relative;
    // padding-left: 32px;
    // padding-right: 32px;
    transition: all .4s linear;
    margin-right: 64px;
    margin-left: 64px;

    .slide_img {
        height: 600px;
    }

    h4 {
        position: absolute;
        top: -70px;
        left: 10px;
        color: $title_light;
        text-transform: uppercase;
    }

}

.slide_info_wrapper {
    background-color: #ffffff;
    padding: 44px 64px;
    position: relative;
    transform: translate(56px, -64px);
    width: 80%;
    border: 1px solid gray;
}

.slide_img img {
    @include cover_img()
}

.slider {
    .slick-list {
        padding-left: calc((100vw - 1328px) / 2 - 42px);
        padding-right: calc((100vw - 1328px) / 2 - 42px);
        // padding-right: calc((100vw - 1328px) / 2 + 64px);
    }

    .slide_info_wrapper {
        -webkit-transform: translate(106px, -64px);
        transform: translate(106px, -64px);
        opacity: 0;
        transition: all 0.6s ease-in-out;
    }

    .slide_img {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(43, 50, 57, 0) 50%, rgba(43, 50, 57, 0.85) 84%);
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: all 0.4s ease-in-out;
            background: linear-gradient(90deg, rgba(239, 238, 234, 0.5) 0%, rgba(237, 236, 231, 0.64) 71.87%);
        }
    }

    .slick-current {
        .slide_info_wrapper {
            -webkit-transform: translate(56px, -64px);
            transform: translate(56px, -64px);
            opacity: 1;
        }

        .slide_img {
            &::after {
                opacity: 0;
            }
        }

    }

    .next_slide,
    .prev_slide {
        position: absolute;
        z-index: 30;
        right: calc((100vw - 1328px) / 2 - 54px);
        &:hover{
            cursor: pointer;
            path{
                stroke: $title_color;
            }
        }
    }

    .next_slide {
        top: 50%;
    }

    .prev_slide {
        top: 40%;
    }
    .slide_info_wrapper{
        display: flex;
        justify-content: space-between;
    }
}

.all_slides {
    color: $title_color;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
}

.this_slide {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: $title_color;
}
.counter_wrapper{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: flex-end;
    position: absolute;
    top:30%;
    z-index: 30;
    right: calc((100vw - 1328px) / 2 - 64px);
    .slash{
        margin-right: -4px;
    }
}

.slick-list {
    display: flex;
}
.room_properties{
    display: flex;
    span{
        margin-right: 16px;
    }
}

// section_slider_one End

// gallery
.gallery {
    padding-top: 104px;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: radial-gradient(50% 50% at 50% 50%, rgba(43, 50, 57, 0.99) 0%, rgba(43, 50, 57, 0.97) 100%);
    }

    .container {
        position: relative;
        z-index: 10;
        margin-bottom: 56px;
    }

    h2 {
        max-width: 350px;
        margin-bottom: 32px;
    }
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(9, 9fr);
    grid-gap: 32px;
}

.grid_el {
    position: relative;
    overflow: hidden;
    // height: 380px;
    height: 20vw;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(180deg, rgba(43, 50, 57, 0) 32.11%, rgba(22, 25, 29, 0.78) 84%);
        z-index: 10;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 3px solid $title_color;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .4s ease-in-out;
        opacity: 0;
        z-index: 15;
    }

    &:hover {
        &::after {
            width: calc(100% - 32px);
            height: calc(100% - 32px);
            opacity: 1;
        }

        .hover_img {
            opacity: 1;
            transform: scale(1.2);
        }

        .grid_title {
            bottom: 80px;
        }

        .link {
            bottom: 40px;
            opacity: 1;
        }
    }

    &:nth-child(4n+1) {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    &:nth-child(4n+2) {
        grid-column-start: 6;
        grid-column-end: 10;
    }

    &:nth-child(4n+3) {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    &:nth-child(4n+4) {
        grid-column-start: 5;
        grid-column-end: 10;
    }

    .link {
        color: $title_light;
        position: absolute;
        bottom: -60px;
        left: 40px;
        z-index: 20;
        transition: all .4s ease-in-out;
        opacity: 0;

        &:hover {
            color: $title_color;
        }
    }

    .hover_img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        z-index: 3;
        opacity: 0;
        transition: all .4s ease-in-out;
    }

    .gallery_img {
        width: 100%;
        height: 100%;

        img {
            @include cover_img()
        }
    }
}

.grid_title {
    position: absolute;
    bottom: 40px;
    left: 40px;
    transition: all .4s ease-in-out;
    z-index: 20;
    font-family: 'Old_Standard_TT';
    color: $title_light;
    opacity: .8;
    letter-spacing: 0.02em;
}

.services_img {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 24px;

    svg {
        @include contain_img()
    }
}

// gallery end

// Offer 
.offer {
    padding: 120px 0 136px;

    h2 {
        margin-bottom: 40px;
    }
}

.slider_three_wrapper {
    padding-left: calc((100vw - 1328px) / 2 + 24px);

    // padding-right:  calc((100vw - 1328px) / 2 - 20px)
    .slick-list {
        padding-right: calc((100vw - 1328px) / 2 - 20px)
    }

    .prev_slide,
    .next_slide {
        position: absolute;
        bottom: -80px;

        &:hover {
            cursor: pointer;

            path: {
                stroke: #D6B480;
            }
        }
    }

    .prev_slide {
        left: 7%;
    }

    .next_slide {
        left: calc(7% + 60px);
    }

    .slick-dots {
        height: 5px;
        background-color: rgba(66, 71, 76, 0.08);
        display: flex;
        width: calc((100% - 15%) - (100vw - 1328px) / 2 - 20px);
        left: 15%;
        bottom: -63px;
    }

    .slick-dots li {
        position: relative;
        display: block;
        height: 5px;
        width: 100%;
        margin: 0;
        cursor: pointer;
    }

    .slick-active {
        background-color: $title_color;
    }

    .slick-dots li button:before {
        display: none;
    }

    .slick-dots li button {
        display: block;
        height: 5px;
        width: 100%;
        font-size: 0px;
        padding: 0;
    }

    .circle_btn {
        margin-left: auto;
        margin-right: calc((100vw - 1328px) / 2 + 20px);
    }
}

.slide_three {
    width: fit-content;
    position: relative;
    margin-right: 40px;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(180deg, rgba(43, 50, 57, 0) 32.11%, rgba(22, 25, 29, 0.78) 84%);
        z-index: 10;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 3px solid $title_color;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .4s ease-in-out;
        opacity: 0;
        z-index: 15;
    }

    &:hover {
        cursor: pointer;

        &::after {
            width: calc(100% - 32px);
            height: calc(100% - 32px);
            opacity: 1;
        }

        .hover_img {
            opacity: 1;
            transform: scale(1.2);
        }

        .grid_title {
            bottom: 80px;
        }

        .link {
            bottom: 40px;
            opacity: 1;
        }
    }

    .link {
        color: $title_light;
        position: absolute;
        bottom: -60px;
        left: 40px;
        z-index: 20;
        transition: all .4s ease-in-out;
        opacity: 0;

        &:hover {
            color: $title_color;
        }
    }

    .grid_title {
        font-family: 'Azbuka_04';
        font-weight: normal;
        letter-spacing: 0.02em;
        font-size: 24px;
        padding-right: 32px;
    }
}

.slide_box {
    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    height: 524px;
}

.slider_three_wrapper .slick-slide {
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all .4s ease-in-out;
        background: linear-gradient(90deg, rgba(239, 235, 234, 0.5) 0%, rgba(237, 236, 231, 0.9) 36.65%);
    }

    &.slick-active::before {
        opacity: 0;
    }

}

// Offer End 

// Index Rooms
.index_rooms {
    .chess_section .link_with_img {
        text-transform: none;
    }
}

.first_line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(214, 180, 128, 0.5);
    right: 55px;
    bottom: -34%;
    transform: translate(106%, 0) rotate(29deg);
}

.second_line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(214, 180, 128, 0.5);
    right: 30%;
    bottom: -34%;
    transform: translate(106%, 0) rotate(29deg);
}

.container_left {
    .first_line {
        right: unset;
        left: -30%;
        bottom: -34%;
        transform: translate(-100%, 0) rotate(-29deg);
    }

    .second_line {
        right: unset;
        left: 30%;
        bottom: -34%;
        transform: translate(-106%, 0) rotate(-29deg);
    }
}

.chess_section .chess_block:last-child {

    .second_line,
    .first_line {
        display: none;
    }
}

.block_img img {
    position: relative;
    z-index: 5;
}

.banner_main {
    @include bg()
}

// Index Rooms End

// Detail rooms 
.banner_info_wrapper {
    position: relative;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;

    .circle_btn {
        color: #ffffff;
        margin-bottom: 44px;
    }
}

.banner_list_item * {
    color: #FCF6F0;
    font-family: 'Gotham_Pro';
    font-weight: 300;
}

.banner_list_item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    span {
        margin-right: 18px;
    }
}

.title_wrapper {
    margin-right: 12%;

    h1 {
        margin-bottom: 32px;
    }
}

.chess_section .block_img {
    max-height: 746px;
}

.room_detail {
    .title_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    .chess_section .block_info {
        padding-top: 0;
        padding-bottom: 0;
    }

    .chess_section {
        background-color: #ffffff;
    }

    .chess_section .block_img {
        max-height: none;
        height: fit-content;

        &::before {
            display: none;
        }
    }

    .offer {
        padding-top: 0;
    }

    .room_slide {
        max-height: 746px;
    }

    .chess_section .block_img {
        width: 60%;
        max-width: 954px;
    }

    .chess_section .container_right .block_info {
        padding-left: 116px;
    }

    .chess_section .block_info {
        width: 40%;
    }
}

.banner_second {
    .title_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        text-align: right;
    }
}

.seasons_wrapper {
    display: flex;
    margin-bottom: 35px;
    // justify-content: space-between;
}

.season {
    margin-right: 72px;
    margin-bottom: 24px;

    h6 {
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    &:last-child {
        margin-right: 0;
    }
}

.room_price {
    font-size: 48px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    white-space: nowrap;

    span {
        font-size: 24px;
        text-transform: uppercase;

    }
}

.room_slider {
    .slick-dots {
        height: 5px;
        background-color: rgba(66, 71, 76, 0.08);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 522px;
        left: unset;
        bottom: -48px;
        right: 0;
    }

    .slick-arrow {
        position: absolute;
        bottom: -65px;

        &:hover {
            cursor: pointer;

            path {
                stroke: #D6B480;
            }
        }
    }

    .next_slide {
        right: 550px;
    }

    .prev_slide {
        right: 607px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-active {
        background-color: #D6B480;
    }

    .slick-dots li {
        position: relative;
        display: block;
        height: 5px;
        width: 100%;
        margin: 0;
        cursor: pointer;
    }

    .slick-dots li button {
        display: block;
        height: 5px;
        width: 100%;
        font-size: 0px;
        padding: 0;
    }

    .slick-dots li button:before {
        display: none;
    }

    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

.slick-track {
    display: flex;
}

.list_wrspper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: 30%;
        // padding-right: 60px;
        position: relative;
        margin-bottom: 18px;

        &::before {
            content: '';
        }

        span {
            margin-right: 12px;
        }
    }
}

.room_slide {
    max-height: 746px;
}

.room_detail .chess_section {
    .block_img {
        width: 60%;
        max-width: 842px;
    }

    .detail_chess_img {
        width: 53%;
    }

    .detail_block_info {
        width: 47%;
    }
}

.room_detail .chess_section .block_img {
    max-height: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.detail_block_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

// Detail rooms End

// About us
.about_us_page .left_editor.text_editor {
    padding-right: 120px;
}

.about_us_page {
    .section_benefits {
        padding-top: 120px;
    }

    .left_editor h2 {
        margin-top: 12px;
    }

    h1 {
        text-align: center;
        line-height: 1.4;
    }

}

.banner_main_nav {
    a {
        opacity: 0.4;
        transition: all .4s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

// About us End

// Excursion
.excursion_page .banner_main {
    margin-bottom: 120px;
}

.excursion_block {
    margin: 0 auto 64px;
    padding: 0 24px;
    width: 100%;
    max-width: 1112px;
}

.excursion_title_box {
    padding: 42px 24px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 32px;

    h2 {
        color: $title_light;
        letter-spacing: 0.02;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #16191D;
        opacity: 0.72;
        z-index: 0;
    }
}

.excursion_description_wrapper {
    display: flex;

    .text_editor {
        width: 58%;
    }

    .button_wrapper {
        width: 42%;
        display: flex;
        justify-content: flex-end;
    }
}

// Excursion End

.spec_container {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 30%;
    position: relative;
    overflow: hidden;
    margin: 0 20px 40px;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(180deg, rgba(43, 50, 57, 0) 0%, rgba(43, 50, 57, 0.7) 100%);
        z-index: 10;
        transition: .4s ease-in-out;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 3px solid #D6B480;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        opacity: 0;
        z-index: 15;
    }

    .link {
        bottom: -40px;
        z-index: 20;
        color: $title_light;
        left: 40px;
        opacity: 0;
        transition: all .4s ease-in-out;
    }


    &:hover {
        &::after {
            width: calc(100% - 32px);
            height: calc(100% - 32px);
            opacity: 1;
        }

        .grid_title {
            bottom: 80px;
        }

        .link {
            bottom: 40px;
            opacity: 1;
        }
    }

    .link {
        position: absolute;
    }

    .grid_title {
        font-family: 'Azbuka_04';
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}

// End 
.banner_second {
    .banner_info_wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .title_wrapper {
        flex-shrink: 0;
    }
}

.single_med_page .banner_list_wrapper {
    max-width: 522px;

    * {
        color: $title_light;
    }

}

.back_to_services {
    position: relative;
    color: $title_light;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    span {
        margin-right: 13px;
        padding-top: 4px;
        position: relative;
        transition: all .4s ease-in-out;
    }

    &:hover {
        color: $title_color;

        span {
            transform: translateX(-15px);
        }
    }
}

@media only screen and (max-width: 1600px) {
    .page_description {
        padding: 90px 0 80px;
    }

    .animate_logo {
        top: -10px;
        left: 10vw;
    }

    .history_place {
        padding: 170px 0 160px;
    }

    .grid_el {
        height: 23vw;
    }

    .room_detail .chess_section .container_right .block_info {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 1360px) {
    .slider_three_wrapper {
        padding-left: 24px;

        .slick-list {
            padding-right: 0
        }

        .link {
            font-size: 14px;
        }

        .slick-list {
            padding-right: calc((100vw - 1328px) / 2 - 20px)
        }

        .prev_slide,
        .next_slide {
            position: absolute;
            bottom: -80px;
        }

        .slick-dots {
            width: calc(100% - 120px);
            left: 100px;
        }

        .circle_btn {
            margin-left: auto;
            margin-right: 24px;
        }

        .prev_slide {
            left: 0;
        }

        .next_slide {
            left: 60px;
        }
    }

    .slide_three {
        margin-right: 24px;
    }

    .room_slider {
        .slick-dots {
            width: calc(100% - 120px);
            left: 120px;
            bottom: -48px;
            right: unset;
        }

        .prev_slide {
            right: unset;
            left: 24px;
        }

        .next_slide {
            right: unset;
            left: 68px;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .banner_main_content {
        margin-top: 0;
    }

    .banner_main_nav {
        display: none;
    }

    .animate_logo {
        top: -10px;
        left: 0;
        opacity: .4;
    }

    .page_description {
        .title_wrapper h2 {
            font-size: 34px;
            margin-bottom: 12px;
        }

        .title_wrapper {
            margin-right: auto;
        }
    }

    .offer {
        padding: 80px 0 90px;
        ;
    }

    .slider_three_wrapper .slick-dots {
        width: calc(100vw - 48px);
        left: 0;
        justify-content: center;
    }

    .slider_three_wrapper .slick-dots li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(66, 71, 76, 0.08);
        margin: 0 10px;
    }

    .slider_three_wrapper .slick-dots {
        bottom: -45px;
    }

    .slider_three_wrapper .slick-dots li.slick-active {
        background-color: $title_color;
    }

    .slider_three_wrapper .slick-dots {
        background-color: transparent;
        height: auto;
    }

    .slider_three_wrapper .circle_btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 76px;
        padding-right: 12px;
    }

    main .circle_btn .circle {
        width: 48px;
        height: 48px;
    }

    .room_price {
        font-size: 34px;
    }

    .season {
        margin-right: 54px;
    }

    .seasons_wrapper {
        margin-bottom: 24px;
    }

    .detail_chess_section {
        .chess_block {
            flex-wrap: wrap-reverse;
        }

        .container_right {
            padding-right: 0;
        }

        .block_img {
            margin-top: 42px;
        }
    }

    .room_detail .chess_section.detail_chess_section .block_info {
        width: 100%;
    }

    .room_detail .chess_section.detail_chess_section .block_img {
        width: 100%;
        max-width: 100%
    }

    .room_detail .detail_chess_section .block_info {
        padding-left: 24px;
        padding-right: 24px;
    }

    .room_detail .chess_section.detail_chess_section .container_right .block_info {
        padding-left: 24px;
    }

    .chess_section.detail_chess_section .chess_block {
        display: flex;
    }

    .detail_chess_section .room_slide {
        max-height: 450px;
    }

    .chess_section {
        margin-bottom: 60px;
    }

    .chess_section.detail_chess_section .container_right {
        padding-left: 0;
    }

    .detail_chess_second .block_info_img {
        display: none;
    }

    .detail_chess_second.chess_section .container_left .block_info {
        padding-right: 0;
    }

    .detail_chess_second {
        .container_left {
            padding-left: 0;
        }
    }

    .room_detail .detail_chess_section.detail_chess_second .block_info {
        padding-left: 0;
    }

    .detail_chess_second.chess_section .container_left .block_info.detail_block_info {
        padding-left: 24px;
        padding-right: 24px;
    }

    .detail_chess_second .block_img {
        margin-top: 0;
    }

    .room_detail .chess_section.detail_chess_second .block_img {
        max-height: 550px;
    }

    .excursion_page .banner_main {
        margin-bottom: 70px;
    }

    .title_wrapper {
        margin-right: 60px;
    }

}

@media only screen and (max-width: 1024px) {
    .page_description {
        padding: 60px 0 50px;
    }

    .slider_three_wrapper {
        h4 {
            font-size: 20px;
        }

        .grid_title {
            left: 20px;
        }
    }

    .slide_three .link {
        left: 20px;
    }

    .slide_three:hover::after {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        opacity: 1;
    }

    .slide_three {
        .grid_title {
            font-size: 20px;
        }
    }

    .second_line,
    .first_line {
        display: none;
    }

    .rooms_services {
        padding-top: 70px;
    }

}

@media only screen and (max-width: 992px) {
    .room_slide {
        max-height: 500px;
    }

    .chess_section {
        margin-bottom: 0;
    }

    .chess_section.detail_chess_second .container_left {
        padding-right: 0;
    }
}

@media only screen and (max-width: 924px) {
    .list_wrspper li {
        width: 50%;
        font-size: 14px;
    }

    .banner_second {
        .banner_info_wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .title_wrapper {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .subtitle_small {
        font-size: 26px;
    }

    .page_description {
        .title_wrapper h2 {
            font-size: 30px;
        }
    }

    .grid_el {
        height: 50vw;

        &:nth-child(4n+1) {
            grid-column-start: 1;
            grid-column-end: 10;
        }

        &:nth-child(4n+2) {
            grid-column-start: 1;
            grid-column-end: 10;
        }

        &:nth-child(4n+3) {
            grid-column-start: 1;
            grid-column-end: 10;
        }

        &:nth-child(4n+4) {
            grid-column-start: 1;
            grid-column-end: 10;
        }

        .link {
            left: 24px;
            font-size: 14px;
        }
    }

    .grid_title {
        left: 24px;
        bottom: 24px;

    }

    .offer {
        padding: 40px 0 40px;
    }

    .offer h2 {
        margin-bottom: 22px;
    }

    .banner_info_wrapper {
        padding-left: 24px;
    }

    .banner_list_item {
        margin-bottom: 16px;
    }

    .about_us_page .left_editor.text_editor {
        padding-right: 0;
    }

    .excursion_description_wrapper {
        flex-wrap: wrap;

        .text_editor {
            width: 100%;
        }

        .button_wrapper {
            width: fit-content;
            margin: 12px auto 0;
        }
    }

    .back_to_services {
        font-size: 14px;
    }

    .circle_btn {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    .history_place {
        padding: 130px 0 120px;
    }

    .banner_info_wrapper {
        flex-direction: column;
    }

    .room_price {
        font-size: 34px;
    }

    .room_slider {
        .slick-dots {
            width: fit-content;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            display: flex;
            height: 30px;
            justify-content: center;
            align-items: center;
            z-index: 20;
            background-color: rgba(237, 236, 231, 0.5);
            padding: 0 20px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $text_color;
                opacity: 0.9;
                margin: 0 8px;
            }

            .slick-active {
                background-color: $title_color;
            }
        }
    }

    .seasons_wrapper {
        margin-bottom: 12px;
    }

    .room_price {
        font-size: 22px;
    }

    .room_price span {
        font-size: 16px;
    }

    .season_duration {
        font-size: 12px;
    }

    .season {
        margin-right: 22px;
    }

    .rooms_services {
        padding-top: 0;
    }

    .list_wrspper {
        max-height: 250px;
        overflow: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: $text_color;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $title_color;
        }

        li {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}


@media only screen and (max-width: 460px) {
    .slider_three_wrapper .slick-list {
        padding-right: 70px;
    }

    .season h6 {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 420px) {
    .subtitle_small {
        font-size: 20px;
    }

    .page_description {
        .title_wrapper h2 {
            font-size: 24px;
        }
    }

    .slide_three {
        .grid_title {
            font-size: 16px;
        }
    }

}

@media only screen and (max-width: 360px) {
    .season {
        margin-right: 22px;
    }

    .seasons_wrapper {
        flex-direction: column;
    }
}