@font-face {
  font-family: 'Azbuka_04';
  src: url("fonts/Azbuka_04.ttf");
}

@font-face {
  font-family: 'Old_Standard_TT';
  src: url("fonts/Old_Standard_TT.ttf");
}

@font-face {
  font-family: 'Gotham_Pro';
  src: url("fonts/Gotham_Pro.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #42474C;
  font-family: 'Gotham_Pro';
  line-height: 1.8;
  vertical-align: baseline;
  outline: none;
}

button {
  border: none;
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none !important;
}

.container {
  width: 100%;
  max-width: 1328px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

body.dont_scroll {
  height: 100vh;
  overflow: hidden;
}

blockquote {
  line-height: 2;
  font-size: 24px;
  font-weight: 400;
}

p {
  color: #42474C;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #D6B480;
  position: relative;
  font-family: 'Azbuka_04';
  line-height: 1.2;
  letter-spacing: 0.04em;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

ol li {
  list-style-type: decimal;
}

path {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.text_editor *:last-child {
  margin-bottom: 0;
}

.text_editor *:first-child {
  margin-top: 0;
}

.text_editor p {
  margin-bottom: 32px;
  margin-top: 32px;
}

.text_editor h1 {
  margin-top: 52px;
  margin-bottom: 38px;
}

.text_editor h2 {
  margin-top: 46px;
  margin-bottom: 32px;
}

.text_editor h3,
.text_editor h4,
.text_editor h5,
.text_editor h6 {
  margin-top: 38px;
  margin-bottom: 32px;
}

.text_editor ul li {
  position: relative;
  padding-left: 44px;
  margin-bottom: 30px;
}

.text_editor ul li:before {
  content: '';
  position: absolute;
  background-image: url("/image/li_img.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  height: 32px;
  width: 20px;
}

.btn_main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 10;
  color: #42474C;
  padding: 17px 24px;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid #D6B480;
  background-color: #FFFFFF;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn_main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 0;
  height: 100%;
  background: #D6B480;
  z-index: -1;
}

.btn_main:hover {
  color: #FCF6F0;
  cursor: pointer;
}

.btn_main:hover::before {
  width: 100%;
}

.btn_main.second_btn {
  padding: 22px 32px;
}

.btn_main.fill_btn {
  padding: 22px 32px;
  background-color: #D6B480;
  color: #FCF6F0;
}

.btn_main.fill_btn:hover {
  background-color: #BA9966;
}

.btn_main.fill_btn::before {
  display: none;
}

.btn_main.fill_btn.disabled {
  color: #D3D9DF;
  background-color: #EDEFF2;
  cursor: not-allowed;
  border: 1px solid #EDEFF2;
}

.btn_main.disabled {
  color: #D3D9DF;
  background-color: #EDEFF2;
  cursor: not-allowed;
  border: 1px solid #EDEFF2;
}

.circle_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-size: 18px;
}

.circle_btn .circle {
  margin-left: 16px;
  border: 2px solid #D6B480;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: relative;
}

.circle_btn .circle svg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle_btn .circle::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #D6B480;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 10;
}

.circle_btn:hover {
  cursor: pointer;
}

.circle_btn:hover .circle::before {
  width: 54px;
  height: 54px;
}

.circle_btn:hover path {
  stroke: #FFF;
}

.link {
  position: relative;
  font-size: 18px;
  line-height: 1.8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding-left: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.link::before {
  content: '';
  width: 7px;
  height: 7px;
  border-top: 2px solid #D6B480;
  border-right: 2px solid #D6B480;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-60%) rotate(45deg);
          transform: translateY(-60%) rotate(45deg);
}

.link:hover {
  letter-spacing: 0.04em;
  color: #D6B480;
  cursor: pointer;
}

.subtitle {
  font-family: 'Old_Standard_TT';
  color: #D6B480;
  font-size: 36px;
  line-height: 1.2;
}

.subtitle_small {
  font-family: 'Old_Standard_TT';
  color: #D6B480;
  padding-left: 10px;
  font-size: 32px;
  letter-spacing: 0.04em;
  line-height: 1.2;
}

@media only screen and (max-width: 1328px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .text_editor h1 {
    margin-top: 44px;
    margin-bottom: 36px;
  }
  .text_editor h2 {
    margin-top: 40px;
    margin-bottom: 32px;
  }
  .text_editor h3,
  .text_editor h4,
  .text_editor h5,
  .text_editor h6 {
    margin-top: 36px;
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
}

a,
path {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.link_with_img {
  position: relative;
  padding-left: 40px;
  font-family: 'Gotham_Pro';
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #42474C;
}

.link_with_img .icon {
  position: absolute;
  top: 0;
  left: 0;
}

.link_with_img a {
  font-family: 'Gotham_Pro';
}

.link_with_img a:hover {
  color: #D6B480;
}

.link_with_img:not(:last-child) {
  margin-bottom: 16px;
}

.container_right {
  width: 100%;
  padding-right: calc((100vw - 1280px) / 2);
}

.container_left {
  width: 100%;
  padding-left: calc((100vw - 1280px) / 2);
}

.banner_second .container_banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.banner_second .container_banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #16191D;
  opacity: 0.72;
}

.banner_second .container_banner .title_banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.banner_second .container_banner h1 {
  white-space: nowrap;
  background: -webkit-linear-gradient(#E0BE8A, #FCF6F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chess_section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #FCF6F0;
}

.chess_section .chess_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chess_section .chess_block:not(:last-child) {
  margin-bottom: 104px;
}

.chess_section .container_right .block_info {
  padding-left: 80px;
}

.chess_section .container_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.chess_section .container_left .block_info {
  padding-right: 80px;
}

.chess_section .frame {
  max-width: 174px;
  max-height: 72px;
  margin-bottom: 24px;
}

.chess_section .frame img {
  width: 100%;
  height: 100%;
}

.chess_section .block_img {
  position: relative;
  width: 62%;
}

.chess_section .block_img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2B3239;
  opacity: 0.2;
}

.chess_section .block_info {
  width: 38%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.chess_section img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chess_section h2 {
  margin-bottom: 24px;
}

.chess_section .text {
  margin-bottom: 34px;
}

.chess_section .contact_info {
  margin-bottom: 40px;
}

.chess_section .link_with_img {
  text-transform: uppercase;
}

.chess_section .wrap_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chess_section .circle_btn {
  margin-right: 50px;
}

.chess_section .circle_btn .circle {
  width: 48px;
  height: 48px;
}

.chess_section .circle_btn:hover .circle:before {
  width: 40px;
  height: 40px;
}

.chess_section .btn_main {
  background-color: transparent;
}

.section_benefits {
  background-color: #FCF6F0;
}

.section_benefits .container {
  padding-bottom: 130px;
}

.section_benefits .benefits_block:not(:last-child) {
  margin-bottom: 120px;
}

.section_benefits .block_img {
  width: 100%;
  height: 564px;
  margin-bottom: 56px;
}

.section_benefits .block_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_benefits .wrap_descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_benefits .text_editor {
  width: 50%;
  padding-right: 24px;
}

.section_benefits .circle_btn .circle {
  width: 48px;
  height: 48px;
}

.section_benefits .circle_btn:hover .circle:before {
  width: 40px;
  height: 40px;
}

.before_footer_section {
  position: relative;
}

.before_footer_section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2B3239;
  opacity: 0.84;
}

.before_footer_section * {
  color: #FCF6F0;
}

.before_footer_section .container {
  position: relative;
  z-index: 10;
  padding-top: 120px;
  padding-bottom: 120px;
}

.before_footer_section .info_block {
  text-align: center;
}

.before_footer_section .subtitle {
  font-family: "Azbuka_04";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCF6F0;
}

.before_footer_section h2 {
  width: 70%;
  background: -webkit-linear-gradient(#E0BE8A, #FCF6F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto 32px;
}

.before_footer_section .circle_btn {
  margin: 0 auto;
}

.before_footer_section .btn_main {
  background: transparent;
  margin: 0 auto 32px;
}

.before_footer_section p {
  margin-bottom: 32px;
}

.before_footer_section .link_with_img {
  display: inline-block;
}

.section_menu {
  background-color: #FCF6F0;
}

.section_menu .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section_menu .menu_item_block:not(:last-child) {
  margin-bottom: 64px;
}

.section_menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_menu .info_item {
  width: 50%;
  padding-right: 36px;
  margin-bottom: 32px;
}

.section_menu .item_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #D6B480;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.section_menu .item_name .name {
  font-family: 'Azbuka_04';
  font-weight: 300;
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #42474C;
  padding-right: 24px;
}

.section_menu .item_name .price {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #D6B480;
}

.section_menu .description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #42474C;
}

.nav_for_section {
  margin-bottom: 56px;
}

.nav_for_section .nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.nav_for_section a {
  position: relative;
  display: inline-block;
  font-family: 'Gotham_Pro';
  font-size: 16px;
  line-height: 1.2;
  color: #42474C;
  padding: 0 24px 30px;
}

.nav_for_section a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #D6B480;
}

.nav_for_section a:hover:after {
  width: 100%;
}

.banner_block_ {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 54px;
}

.banner_block_:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 25, 29, 0.72);
  z-index: -1;
}

.banner_block_ h2 {
  font-family: 'Azbuka_04';
  font-weight: 300;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #FCF6F0;
}

.section_history {
  background-color: #FCF6F0;
}

.section_history .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section_history p {
  font-family: 'Gotham_Pro';
  font-weight: 300;
  line-height: 1.5;
  color: #42474C;
}

.section_history .title_page {
  font-family: 'Azbuka_04';
  font-weight: 300;
  font-size: 48px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: #D6B480;
  margin-bottom: 24px;
}

.section_history .history_title_block {
  width: 100%;
  max-width: 1060px;
  margin-bottom: 110px;
  text-align: center;
  margin: 0 auto 110px;
}

.section_history .history_title_block .title_wrap {
  padding-left: 100px;
  padding-right: 100px;
}

.section_history .history_title_block h3 {
  font-family: 'Old Standard TT';
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.04em;
  color: #D6B480;
  margin-bottom: 24px;
}

.section_history .history_title_block p {
  text-align: center;
  margin-bottom: 64px;
}

.section_history .history_title_block img {
  width: 100%;
}

.section_history .item_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}

.section_history .item_block .item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 100px;
  padding-left: 48px;
  padding-bottom: 100px;
}

.section_history .item_block p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section_history .item_block:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section_history .item_block:nth-child(even) .item_text {
  padding-right: 48px;
  padding-left: 100px;
}

.section_history .item_block:last-child {
  margin-bottom: 0;
}

.section_history .item_text,
.section_history .item_img {
  width: 50%;
}

.section_history .item_img img {
  width: 100%;
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_history .text_wrap {
  position: relative;
}

.section_history .bg_date {
  position: absolute;
  top: -86px;
  left: -48px;
  font-family: Crimson;
  font-weight: 300;
  font-size: 192px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #D6B480;
  opacity: 0.12;
}

.section_history .circle_btn {
  margin-top: 32px;
}

.section_history .banner_history {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_history .banner_history:before, .section_history .banner_history:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section_history .banner_history:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#807565), to(rgba(128, 117, 101, 0)));
  background: linear-gradient(180deg, #807565 0%, rgba(128, 117, 101, 0) 100%);
  opacity: 0.4;
}

.section_history .banner_history:after {
  background: -webkit-gradient(linear, left top, right top, color-stop(48.1%, rgba(22, 25, 29, 0.65)), to(rgba(22, 25, 29, 0)));
  background: linear-gradient(90deg, rgba(22, 25, 29, 0.65) 48.1%, rgba(22, 25, 29, 0) 100%);
  opacity: 0.8;
}

.section_history .banner_history .container {
  position: relative;
  padding-top: 420px;
  padding-bottom: 130px;
  z-index: 10;
}

.section_history .banner_history p {
  width: 50%;
  color: #FCF6F0;
  padding-left: 48px;
}

.section_history .banner_history .bg_img {
  position: absolute;
  top: -48px;
  left: 0px;
}

@media screen and (max-width: 1600px) {
  .chess_section .block_img {
    width: 55%;
  }
  .chess_section .block_info {
    width: 45%;
  }
}

@media screen and (max-width: 1450px) {
  .container_right {
    padding-right: 24px;
  }
  .container_left {
    padding-left: 24px;
  }
  .chess_section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .chess_section .container_right .block_info {
    padding-left: 40px;
  }
  .chess_section .container_left .block_info {
    padding-right: 40px;
  }
  .chess_section .chess_block:not(:last-child) {
    margin-bottom: 80px;
  }
  .chess_section .block_img,
  .chess_section .block_info {
    width: 50%;
  }
  .chess_section .block_info {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section_benefits .container {
    padding-bottom: 80px;
  }
  .section_benefits .benefits_block:not(:last-child) {
    margin-bottom: 80px;
  }
  .section_benefits .benefits_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section_benefits .wrap_descriptions {
    display: block;
  }
  .section_benefits .block_img {
    margin-bottom: 0;
  }
  .section_benefits .text_editor {
    width: 100%;
    padding-right: 0;
    margin-bottom: 24px;
  }
  .section_benefits h2 {
    margin-bottom: 24px;
  }
  .before_footer_section .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .before_footer_section h2 {
    width: 100%;
  }
  .section_menu .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section_history .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section_history .banner_history .container {
    padding-top: 300px;
    padding-bottom: 80px;
  }
  .section_history .history_title_block {
    margin-bottom: 80px;
  }
  .section_history .item_block,
  .section_history .item_block:nth-child(even) {
    margin-bottom: 80px;
  }
  .section_history .item_block .item_text,
  .section_history .item_block:nth-child(even) .item_text {
    padding-right: 48px;
    padding-left: 48px;
    padding-bottom: 80px;
  }
  .section_history .item_block:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .chess_section .wrap_btns {
    display: block;
  }
  .chess_section .circle_btn {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .section_history .history_title_block .title_wrap {
    padding: 0;
  }
  .section_history .item_block .item_text {
    padding-left: 0;
  }
  .section_history .item_block:nth-child(even) .item_text {
    padding-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .banner_block_ {
    margin-bottom: 40px;
  }
  .chess_section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .chess_section .container_right {
    padding-left: 24px;
  }
  .chess_section .container_right .block_info {
    padding-left: 0;
  }
  .chess_section .container_left {
    padding-right: 24px;
  }
  .chess_section .container_left .block_info {
    padding-right: 0;
  }
  .chess_section .chess_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .chess_section .chess_block:not(:last-child) {
    margin-bottom: 60px;
  }
  .chess_section .block_img,
  .chess_section .block_info {
    width: 100%;
  }
  .chess_section .block_img {
    height: 350px;
  }
  .chess_section .block_info {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .section_benefits .benefits_block:not(:last-child) {
    margin-bottom: 60px;
  }
  .section_benefits .block_img {
    height: 350px;
  }
  .before_footer_section .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .before_footer_section .subtitle {
    font-size: 16px;
  }
  .section_menu .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section_menu .info_item {
    width: 100%;
    padding-right: 0;
  }
  .nav_for_section {
    margin-bottom: 34px;
  }
  .nav_for_section a {
    padding-bottom: 16px;
  }
  .section_history .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section_history .title_page {
    font-size: 30px;
  }
  .section_history .item_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section_history .item_block .item_text,
  .section_history .item_block .item_img {
    width: 100%;
  }
  .section_history .item_block .item_text {
    padding: 0;
    margin-bottom: 24px;
  }
  .section_history .item_block:nth-child(even) .item_text {
    padding: 0;
  }
  .section_history .banner_history p {
    width: 100%;
    padding-left: 0;
  }
  .section_history .bg_date {
    font-size: 100px;
    top: -46px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section_history .history_title_block h3 {
    font-size: 26px;
  }
  .section_history .history_title_block p {
    margin-bottom: 40px;
  }
  .section_history .banner_history .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section_history .circle_btn {
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 576px) {
  .before_footer_section .btn_main {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section_menu .info_item:last-child {
    margin-bottom: 0;
  }
  .section_menu .item_name .name {
    font-size: 16px;
  }
  .section_menu .item_name .price {
    font-size: 14px;
    margin-top: 4px;
  }
}
/*# sourceMappingURL=main2.css.map */