@import 'standart_style';

// Colors
$text_color: #42474C;
$title_color: #D6B480;
$title_light: #FCF6F0;
$disabled: #EDEFF2;
$bg_color: #FCF6F0;


.bg_color_main{
    background-color: $bg_color;
}

.pb_0{
    padding-bottom: 0;
}

a,
path{
    transition: all .4s;
}

.link_with_img{
    position: relative;
    padding-left: 40px;
    font-family: 'Gotham_Pro';
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: $text_color;

    .icon{
        position: absolute;
        top: 0;
        left: 0;
    }

    a{
        font-family: 'Gotham_Pro';
    }

    a:hover{
        color: $title_color;
    }

    &:not(:last-child){
        margin-bottom: 16px;
    }
}

//container
$outside_width: calc((100vw - 1280px) / 2);

.container_right{
    width: 100%;
    padding-right: $outside_width;
}

.container_left{
    width: 100%;
    padding-left: $outside_width;
}

// banner second
.banner_second{
    .container_banner{
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #16191D;
            opacity: 0.72;
        }

        .title_banner{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }

        h1{
            white-space: nowrap;
            background: -webkit-linear-gradient(#E0BE8A, #FCF6F0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.chess_section{
    padding-top: 120px;
    padding-bottom: 120px;
    background: $bg_color;

    .chess_block{
        display: flex;

        &:not(:last-child){
            margin-bottom: 104px;
        }
    }

    .container_right{
        .block_info{
            padding-left: 80px;
        }
    }

    .container_left{
        flex-direction: row-reverse;
        .block_info{
            padding-right: 80px;
        }
    }

    .frame{
        max-width: 174px;
        max-height: 72px;
        margin-bottom: 24px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .block_img{
        position: relative;
        width: 62%;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #2B3239;
            opacity: 0.2;
        }
    }

    .block_info{
        width: 38%;
        height: fit-content;
        margin: auto 0;
    }

    img{
        display: block;
        @include cover_img;
    }

    h2{
        margin-bottom: 24px;
    }

    .text{
        margin-bottom: 34px;
    }

    .contact_info{
        margin-bottom: 40px;
    }
    
    .link_with_img{
        text-transform: uppercase;
    }

    .wrap_btns{
        display: flex;
    }

    .circle_btn{
        margin-right: 50px;

        .circle{
            width: 48px;
            height: 48px;
        }

        &:hover{
            .circle:before{
                width: 40px;
                height: 40px;
            }
        }
    }

    .btn_main{
        background-color: transparent;
    }
}

.section_benefits{
    background-color: $bg_color;

    .container{
        padding-bottom: 130px;
    }
    
    .benefits_block{
        &:not(:last-child){
            margin-bottom: 120px;
        }
    }

    .block_img{
        width: 100%;
        height: 564px;
        margin-bottom: 56px;

        img{
            @include cover_img;
        }
    }

    .wrap_descriptions{
        display: flex;
    }

    .text_editor{
        width: 50%;
        padding-right: 24px;
    }

    .circle_btn{
        .circle{
            width: 48px;
            height: 48px;
        }

        &:hover{
            .circle:before{
                width: 40px;
                height: 40px;
            }
        }
    }
}

.before_footer_section{
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2B3239;
        opacity: 0.84;
    }

    *{
        color: $title_light;
    }

    .container{
        position: relative;
        z-index: 10;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .info_block{
        text-align: center;
    }

    .subtitle{
        font-family: "Azbuka_04";
        font-weight: 300;
        font-size: 24px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.04em;
        color: $bg_color;
    }

    h2{
        width: 70%;
        background: -webkit-linear-gradient(#E0BE8A, #FCF6F0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 auto 32px;
    }

    .circle_btn{
        margin: 0 auto;
    }

    .btn_main{
        background: transparent;
        margin: 0 auto 32px;
    }

    p{
        margin-bottom: 32px;
    }

    .link_with_img{
        display: inline-block;
    }
}

.section_menu{
    background-color: $bg_color;

    .container{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .menu_item_block:not(:last-child){
        margin-bottom: 64px;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
    }

    .info_item{
        width: 50%;
        padding-right: 36px;
        margin-bottom: 32px;
    }

    .item_name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed $title_color;
        padding-bottom: 12px;
        margin-bottom: 12px;

        .name{
            font-family: 'Azbuka_04';
            font-weight: 300;
            font-size: 21px;
            line-height: 1.4;
            letter-spacing: 0.02em;
            color: $text_color;
            padding-right: 24px;
        }

        .price{
            font-weight: 300;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0.02em;
            color: $title_color;
        }
    }

    .description{
        font-weight: normal;
        font-size: 14px;
        line-height: 1.4;
        color: $text_color;
    }
}

.nav_for_section{
    margin-bottom: 56px;
    
    .nav_items{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12)
    }

    .item{

    }

    a{
        position: relative;
        display: inline-block;
        font-family: 'Gotham_Pro';
        font-size: 16px;
        line-height: 1.2;
        color: $text_color;
        padding: 0 24px 30px;

        &:after{
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            transition: all .4s;
            background-color: $title_color;
        }

        &:hover:after{
            width: 100%;
        }
    }
}

.banner_block_{
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 54px;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(22, 25, 29, 0.72);
        z-index: -1;
    }

    h2{
        font-family: 'Azbuka_04';
        font-weight: 300;
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $title_light;
    }
}

.section_history{
    background-color: $bg_color;

    .container{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    p{
        font-family: 'Gotham_Pro';
        font-weight: 300;
        line-height: 1.5;
        color: $text_color;
    }

    .title_page{
        font-family: 'Azbuka_04';
        font-weight: 300;
        font-size: 48px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.02em;
        color: $title_color;
        margin-bottom: 24px;
    }

    .history_title_block{
        width: 100%;
        max-width: 1060px;
        margin-bottom: 110px;
        text-align: center;
        margin: 0 auto 110px;

        .title_wrap{
            padding-left: 100px;
            padding-right: 100px;
        }

        h3{
            font-family: 'Old Standard TT';
            font-style: italic;
            font-weight: 300;
            font-size: 32px;
            line-height: 1.4;
            text-align: center;
            letter-spacing: 0.04em;
            color: $title_color;
            margin-bottom: 24px;
        }

        p{
            text-align: center;
            margin-bottom: 64px;
        }

        img{
            width: 100%; 
        }
    }

    .item_block{
        display: flex;
        margin-bottom: 110px;
        
       .item_text{
            display: flex;
            align-items: flex-end;
            padding-right: 100px;
            padding-left: 48px;
            padding-bottom: 100px;
       }

       p{
           height: fit-content;
       }
    }

    .item_block:nth-child(even){
        flex-direction: row-reverse;

        .item_text{
            padding-right: 48px;
            padding-left: 100px;
       }
    }

    .item_block:last-child{
        margin-bottom: 0;
    }

    .item_text,
    .item_img{
        width: 50%;
    }

    .item_img{
        img{
            width: 100%; 
            max-height: 600px;
            object-fit: contain;
        }
    }

    .text_wrap{
        position: relative;
    }

    .bg_date{
        position: absolute;
        top: -86px;
        left: -48px;
        font-family: Crimson;
        font-weight: 300;
        font-size: 192px;
        line-height: 1;
        letter-spacing: 0.02em;
        color: $title_color;
        opacity: 0.12;
    }

    .circle_btn{
        margin-top: 32px;
    }

    .banner_history{
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;

        &:before,
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:before{
            background: linear-gradient(180deg, #807565 0%, rgba(128, 117, 101, 0) 100%);
            opacity: 0.4; 
        }

        &:after{ 
            background: linear-gradient(90deg, rgba(22, 25, 29, 0.65) 48.1%, rgba(22, 25, 29, 0) 100%);
            opacity: 0.8; 
        }

        .container{
            position: relative;
            padding-top: 420px;
            padding-bottom: 130px;
            z-index: 10;
        }

        p{
            width: 50%;
            color: $title_light;
            padding-left: 48px;
        }

        .bg_img{
            position: absolute;
            top: -48px;
            left: 0px;
        }
    }
}

.section_description_page{
    background-color: $bg_color;

    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .description_page,
    .description_img_block{
        width: 50%;
    }

    .description_page{
        padding-right: 40px;
    }

    .description_logo_wrap{
        margin-bottom: 24px;

        img{
            display: block;
            max-width: 220px;
        }
    }

    .description_img_block{
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 100%;
        }
    }
}

.section_cosmetology_services{
    .services_wrap{
        display: flex;
        flex-wrap: wrap;
    }

    .services_wrap:nth-child(2n){
        .service_block{
            flex-direction: row-reverse;
        }
    
        .service_name{
            &:after{
                top: 50%;
                left: 0;
                right: inherit;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    .service_block{
        display: flex;
        width: 50%;
    }

    .service_name,
    .service_img{
        width: 50%;
    }

    .service_name{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            width: 43px;
            height: 43px;
            background-color: #FFFFFF;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%) rotate(45deg);
        }
    }

    .name_wrap{
        position: absolute;
        width: fit-content;
        max-width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .name{
        font-family: 'Azbuka_04';
        font-weight: 300;
        font-size: 32px;
        line-height: 1.4;
        letter-spacing: 0.02em;
        color: $text_color;
        opacity: 0.8;
        margin-bottom: 16px;
    }

    .service_img{
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.medical_center_gallery.gallery{
    background-color: $bg_color;
    padding-top: 0;
    &:before{
        display: none;
    }

    .container{
        margin-bottom: 0;
    }

    .grid_title{
        font-family: 'Azbuka_04';
        font-weight: 300;
    }
}

.section_programs_center{
    background-color: $bg_color;

    .container{
        padding-top: 120px;
    }

    h2{
        font-weight: 300;
        margin-bottom: 40px;
    }

    .programs_wrap{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #2B3239;
    }

    .program_block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% / 3);
        border-right: 1px solid #2B3239;
        border-bottom: 1px solid #2B3239;
        transition: all .4s;
        padding: 46px 46px 32px;

        &:hover{
            background-color: #FFFFFF;
        }
    }

    .program_block:nth-child(3n+3){
        border-right: 1px solid transparent;
        border-bottom: 1px solid #2B3239;
    }

    .program_block:nth-last-child(-n+3){
        border-bottom: 1px solid transparent;
    }

    .program_name{
        font-size: 24px;
        @include two_rows();
    }

    img{
        max-height: 100px;
        margin-bottom: 24px;
    }

    .circle_btn{
        .circle{
            width: 48px;
            height: 48px;
        }

        &:hover{
            .circle:before{
                width: 48px;
                height: 48px;
            }
        }
    }
}

.medical_slider.offer{
    background-color: $bg_color;
}

.aesthetic_slider.offer{
    padding-bottom: 40px;
}

.slider_three_second.slider_three_wrapper{
    padding-left: 0;

    .slick-list{
        padding-right: 0;
        margin-right: -40px;
    }

    .prev_slide{
        left: 0;
    }

    .next_slide{
        left: 60px;
    }

    .slick-dots{
        width: 90%!important;
        left: 10%;
    }
}

@media screen and (max-width:1600px){
    .chess_section{
        .block_img{
            width: 55%;
        }

        .block_info{
            width: 45%;
        }
    }
}

@media screen and (max-width:1450px){
    .container_right{
        padding-right: 24px;
    }
    
    .container_left{
        padding-left: 24px;
    }

    .chess_section{
        padding-top: 80px;
        padding-bottom: 80px;

        .container_right{
            .block_info{
                padding-left: 40px;
            }
        }
        
        .container_left{
            .block_info{
                padding-right: 40px;
            }
        }

        .chess_block:not(:last-child){
            margin-bottom: 80px;
        }

        .block_img,
        .block_info{
            width: 50%;
        }
    }

    .section_benefits{
        .container{
            padding-bottom: 80px;
        }

        .benefits_block:not(:last-child){
            margin-bottom: 80px;
        }

        .benefits_block{
            display: flex;
            flex-direction: column-reverse;
        }

        .wrap_descriptions{
            display: block;
        }

        .block_img{
            margin-bottom: 0;
        }

        .text_editor{
            width: 100%;
            padding-right: 0;
            margin-bottom: 24px;
        }

        h2{
            margin-bottom: 24px;
        }
    }

    .before_footer_section{
        .container{
            padding-top: 80px;
            padding-bottom: 80px;
        }

        h2{
            width: 100%;
        }
    }

    .section_menu{
        .container{
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .section_history{
        .container{
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .banner_history{
            .container{
                padding-top: 300px;
                padding-bottom: 80px;
            }
        }

        .history_title_block{
            margin-bottom: 80px;
        }

        .item_block,
        .item_block:nth-child(even){
            margin-bottom: 80px;

            .item_text{
                padding-right: 48px;
                padding-left: 48px;
                padding-bottom: 80px;
            }
        }

        .item_block:last-child{
            margin-bottom: 0;
        }
    }

    .section_description_page{
        .container{
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .section_programs_center{
        .container{
            padding-top: 80px;
        }

        .program_block{
            padding: 24px;
        }

        img{
            max-height: 70px;
            margin-bottom: 16px;
        }

        .program_name{
            font-size: 20px;
        }
    }
}

@media screen and (max-width:1360px){
    .slider_three_second.slider_three_wrapper{
        padding-left: 0;
    
        .slick-list{
            margin-right: -24px;
        }
    }
}

@media screen and (max-width:1200px){
    .chess_section{
        .wrap_btns{
            display: block;
        }

        .circle_btn{
            margin-right: 0;
            margin-bottom: 24px;
        }
    }

    .section_history{
        .history_title_block{
           .title_wrap{
               padding: 0;
           }
        }

        .item_block{
            .item_text{
                padding-left: 0;
            }
        }

        .item_block:nth-child(even){
            .item_text{
                padding-right: 0;
            }
        }
    }

    .section_cosmetology_services{
        .name{
            font-size: 24px;
        }
    }

    .slider_three_second.slider_three_wrapper{
        .slick-dots{
            width: 100%;
            left: 0;
        }
    }
}

@media screen and (max-width:992px){

    .banner_block_{
        margin-bottom: 40px;
    }

    .chess_section{
        padding-top: 60px;
        padding-bottom: 60px;

        .container_right{
            padding-left: 24px;

            .block_info{
                padding-left: 0;
            }
        }

        .container_left{
            padding-right: 24px;

            .block_info{
                padding-right: 0;
            }
        }

        .chess_block{
            flex-wrap: wrap;
            flex-direction: column-reverse;

            &:not(:last-child){
                margin-bottom: 60px;
            }
        }

        .block_img,
        .block_info{
            width: 100%;
        }

        .block_img{
            height: 350px;
        }

        .block_info{
            padding-top: 0;
            padding-bottom: 40px;
        }

        
    }

    .section_benefits{
        .benefits_block{
            &:not(:last-child){
                margin-bottom: 60px;
            }
        }

        .block_img{
            height: 350px;
        }
    }

    .before_footer_section{
        .container{
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .subtitle{
            font-size: 16px;
        }
    }

    .section_menu{
        .container{
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .info_item{
            width: 100%;
            padding-right: 0;
        }
    }

    .nav_for_section{
        margin-bottom: 34px;

        a{
            padding-bottom: 16px;
        }
    }

    .section_history{
        .container{
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .title_page{
            font-size: 30px;
        }

        .item_block{
            flex-wrap: wrap;

            .item_text,
            .item_img{
                width: 100%;
            }

            .item_text{
                padding: 0;
                margin-bottom: 24px;
            }
        }

        .item_block:nth-child(even){
            .item_text{
                padding: 0;
            }
        }

        .banner_history{
            p{
                width: 100%;
                padding-left: 0;
            }
        }

        .bg_date{
            font-size: 100px;
            top: -46px;
            left: 50%;
            transform: translateX(-50%);
        }

        .history_title_block{
            h3{
                font-size: 26px;
            }

            p{
                margin-bottom: 40px;
            }
        }

        .banner_history{
            .container{
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }

        .circle_btn{
            margin: 32px auto 0;
        }
    }

    .section_description_page{
        .container{
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    
    .section_cosmetology_services{        
        .services_wrap:nth-child(2n+1){
            .service_block:nth-child(2n){
                flex-direction: row-reverse;

                .service_name:after{
                    left: 0;
                    right: inherit;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }

        .services_wrap:nth-child(2n){
            .service_block:nth-child(2n+1){
                flex-direction: inherit;

                .service_name:after{
                    left: inherit;
                    right: 0;
                    transform: translate(50%, -50%) rotate(45deg);
                }
            }
        }

        .service_name{
            &:after{
                width: 30px;
                height: 30px;
            }
        }

        .service_block{
            width: 100%;
        }
    }

    .section_programs_center{
        .container{
            padding-top: 60px;
        }

        .program_block{
            width: calc(100%/2);
        }

        .program_block:nth-child(3n+3){
            border-right: inherit;
            border-bottom: inherit;
        }
    
        .program_block:nth-last-child(-n+3){
            border-bottom: inherit;
        }

        .program_block:nth-child(2n){
            border-right: transparent;
        }

        .program_block:nth-last-child(-n+2){
            border-bottom-color: transparent;
        }
    }
}

@media screen and (max-width:768px){
    .section_description_page{
        .description_page{
            width: 100%;
            padding-right: 0;
        }

        .description_img_block{
            display: none;
        }
    }
}

@media screen and (max-width:576px){
    .before_footer_section{
        .btn_main{
            width: 100%;
            justify-content: center;
        }
    }

    .section_menu{
        .info_item:last-child{
            margin-bottom: 0;
        }

        .item_name{
            .name{
                font-size: 16px;
            }

            .price{
                font-size: 14px;
                margin-top: 4px;
            }
        }
    } 

    .section_cosmetology_services{
        .services_wrap:nth-child(2n+1),
        .services_wrap:nth-child(2n){
            .service_block:nth-child(2n+1),
            .service_block:nth-child(2n){
                flex-direction: inherit;

                .service_name{
                    &:after{
                        top: inherit;
                        left: 50%;
                        right: inherit;
                        bottom: 0;
                        transform: translate(-50%, 50%) rotate(45deg);
                    }
                }
            }
        }

        .service_block{
            flex-wrap: wrap;
        }

        .service_name,
        .service_img{
            width: 100%;
        }

        .name_wrap{
            position: relative;
            max-width: 100%;
            width: 100%;
            top: inherit;
            left: inherit;
            right: inherit;
            transform: translate(0);
            text-align: center;
            padding: 40px 0 24px;
        }
    }

    .section_programs_center{
        .program_block{
            width: calc(100%);
            border-right: 0!important;
        }

        .program_block:nth-last-child(-n+2){
            border-bottom: inherit;
        }

        .program_block:nth-last-child(){
            border-bottom: 0;
        }

    }

    .slider_three_second.slider_three_wrapper{
        padding-left: 0;
    
        .slick-list{
            padding-right: 70px;
        }
    }
    
}