.banner_main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.banner_main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner_main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16191D;
  opacity: 0.72;
  z-index: 5;
}

.banner_main .logo_wrapper {
  text-align: center;
}

.banner_main_content {
  position: relative;
  z-index: 10;
  margin-top: -140px;
}

.banner_main_title {
  margin-top: 56px;
}

.banner_main_nav {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.banner_main_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner_main_nav li {
  margin: 0 50px;
  position: relative;
}

.banner_main_nav li svg {
  position: absolute;
  top: 50%;
  right: -80px;
}

.banner_main_nav a {
  white-space: nowrap;
  color: #EDDBBF;
}

.page_description {
  padding: 160px 0 140px;
  position: relative;
}

.page_description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 10;
}

.page_description .text_editor {
  max-width: 736px;
  width: 100%;
}

.page_description .title_wrapper {
  margin: 32px 0;
}

.page_description .title_wrapper h2 {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 48px;
}

.page_description .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page_description .subtitle_small {
  padding-left: 18px;
}

.animate_logo {
  position: absolute;
  top: 72px;
  left: 19vw;
  z-index: 5;
}

.history_place {
  padding: 280px 0 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.history_place .wrapper {
  width: 100%;
  max-width: 510px;
  position: relative;
  z-index: 10;
}

.history_place h2 {
  color: #FCF6F0;
  margin-bottom: 32px;
}

.history_place .circle_btn {
  color: #FCF6F0;
}

.history_place::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: -webkit-gradient(linear, left top, right top, color-stop(48.1%, rgba(22, 25, 29, 0.65)), to(rgba(22, 25, 29, 0)));
  background: linear-gradient(90deg, rgba(22, 25, 29, 0.65) 48.1%, rgba(22, 25, 29, 0) 100%);
}

.section_slider {
  padding: 120px 0 20px;
  position: relative;
  z-index: 10;
  background-color: #ffffff;
}

.section_slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_slider .slick-dots {
  position: absolute;
  bottom: 200px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
}

.slider_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_description {
  max-width: 456px;
}

.slider_description .circle_btn {
  color: #42474C;
}

.slider_title {
  margin-bottom: 78px;
}

.slide {
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  margin-right: 64px;
  margin-left: 64px;
}

.slide .slide_img {
  height: 600px;
}

.slide h4 {
  position: absolute;
  top: -70px;
  left: 10px;
  color: #FCF6F0;
  text-transform: uppercase;
}

.slide_info_wrapper {
  background-color: #ffffff;
  padding: 44px 64px;
  position: relative;
  -webkit-transform: translate(56px, -64px);
          transform: translate(56px, -64px);
  width: 80%;
  border: 1px solid gray;
}

.slide_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slick-list {
  padding-left: calc((100vw - 1328px) / 2 - 42px);
  padding-right: calc((100vw - 1328px) / 2 - 42px);
}

.slider .slide_info_wrapper {
  -webkit-transform: translate(106px, -64px);
  transform: translate(106px, -64px);
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.slider .slide_img {
  position: relative;
}

.slider .slide_img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(43, 50, 57, 0)), color-stop(84%, rgba(43, 50, 57, 0.85)));
  background: linear-gradient(180deg, rgba(43, 50, 57, 0) 50%, rgba(43, 50, 57, 0.85) 84%);
}

.slider .slide_img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 238, 234, 0.5)), color-stop(71.87%, rgba(237, 236, 231, 0.64)));
  background: linear-gradient(90deg, rgba(239, 238, 234, 0.5) 0%, rgba(237, 236, 231, 0.64) 71.87%);
}

.slider .slick-current .slide_info_wrapper {
  -webkit-transform: translate(56px, -64px);
  transform: translate(56px, -64px);
  opacity: 1;
}

.slider .slick-current .slide_img::after {
  opacity: 0;
}

.slider .next_slide,
.slider .prev_slide {
  position: absolute;
  z-index: 30;
  right: calc((100vw - 1328px) / 2 - 54px);
}

.slider .next_slide:hover,
.slider .prev_slide:hover {
  cursor: pointer;
}

.slider .next_slide:hover path,
.slider .prev_slide:hover path {
  stroke: #D6B480;
}

.slider .next_slide {
  top: 50%;
}

.slider .prev_slide {
  top: 40%;
}

.slider .slide_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all_slides {
  color: #D6B480;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.this_slide {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #D6B480;
}

.counter_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 30%;
  z-index: 30;
  right: calc((100vw - 1328px) / 2 - 64px);
}

.counter_wrapper .slash {
  margin-right: -4px;
}

.slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room_properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room_properties span {
  margin-right: 16px;
}

.gallery {
  padding-top: 104px;
  position: relative;
}

.gallery::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(43, 50, 57, 0.99) 0%, rgba(43, 50, 57, 0.97) 100%);
}

.gallery .container {
  position: relative;
  z-index: 10;
  margin-bottom: 56px;
}

.gallery h2 {
  max-width: 350px;
  margin-bottom: 32px;
}

.grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (9fr)[9];
      grid-template-columns: repeat(9, 9fr);
  grid-gap: 32px;
}

.grid_el {
  position: relative;
  overflow: hidden;
  height: 20vw;
}

.grid_el::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.11%, rgba(43, 50, 57, 0)), color-stop(84%, rgba(22, 25, 29, 0.78)));
  background: linear-gradient(180deg, rgba(43, 50, 57, 0) 32.11%, rgba(22, 25, 29, 0.78) 84%);
  z-index: 10;
}

.grid_el::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 3px solid #D6B480;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
  z-index: 15;
}

.grid_el:hover::after {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  opacity: 1;
}

.grid_el:hover .hover_img {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.grid_el:hover .grid_title {
  bottom: 80px;
}

.grid_el:hover .link {
  bottom: 40px;
  opacity: 1;
}

.grid_el:nth-child(4n+1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.grid_el:nth-child(4n+2) {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 10;
}

.grid_el:nth-child(4n+3) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.grid_el:nth-child(4n+4) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 10;
}

.grid_el .link {
  color: #FCF6F0;
  position: absolute;
  bottom: -60px;
  left: 40px;
  z-index: 20;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.grid_el .link:hover {
  color: #D6B480;
}

.grid_el .hover_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.grid_el .gallery_img {
  width: 100%;
  height: 100%;
}

.grid_el .gallery_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid_title {
  position: absolute;
  bottom: 40px;
  left: 40px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 20;
  font-family: 'Old_Standard_TT';
  color: #FCF6F0;
  opacity: .8;
  letter-spacing: 0.02em;
}

.services_img {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 24px;
}

.services_img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer {
  padding: 120px 0 136px;
}

.offer h2 {
  margin-bottom: 40px;
}

.slider_three_wrapper {
  padding-left: calc((100vw - 1328px) / 2 + 24px);
}

.slider_three_wrapper .slick-list {
  padding-right: calc((100vw - 1328px) / 2 - 20px);
}

.slider_three_wrapper .prev_slide,
.slider_three_wrapper .next_slide {
  position: absolute;
  bottom: -80px;
}

.slider_three_wrapper .prev_slide:hover,
.slider_three_wrapper .next_slide:hover {
  cursor: pointer;
  path-stroke: #D6B480;
}

.slider_three_wrapper .prev_slide {
  left: 7%;
}

.slider_three_wrapper .next_slide {
  left: calc(7% + 60px);
}

.slider_three_wrapper .slick-dots {
  height: 5px;
  background-color: rgba(66, 71, 76, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 15%) - (100vw - 1328px) / 2 - 20px);
  left: 15%;
  bottom: -63px;
}

.slider_three_wrapper .slick-dots li {
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.slider_three_wrapper .slick-active {
  background-color: #D6B480;
}

.slider_three_wrapper .slick-dots li button:before {
  display: none;
}

.slider_three_wrapper .slick-dots li button {
  display: block;
  height: 5px;
  width: 100%;
  font-size: 0px;
  padding: 0;
}

.slider_three_wrapper .circle_btn {
  margin-left: auto;
  margin-right: calc((100vw - 1328px) / 2 + 20px);
}

.slide_three {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-right: 40px;
}

.slide_three::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.11%, rgba(43, 50, 57, 0)), color-stop(84%, rgba(22, 25, 29, 0.78)));
  background: linear-gradient(180deg, rgba(43, 50, 57, 0) 32.11%, rgba(22, 25, 29, 0.78) 84%);
  z-index: 10;
}

.slide_three::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 3px solid #D6B480;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
  z-index: 15;
}

.slide_three:hover {
  cursor: pointer;
}

.slide_three:hover::after {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  opacity: 1;
}

.slide_three:hover .hover_img {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slide_three:hover .grid_title {
  bottom: 80px;
}

.slide_three:hover .link {
  bottom: 40px;
  opacity: 1;
}

.slide_three .link {
  color: #FCF6F0;
  position: absolute;
  bottom: -60px;
  left: 40px;
  z-index: 20;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.slide_three .link:hover {
  color: #D6B480;
}

.slide_three .grid_title {
  font-family: 'Azbuka_04';
  font-weight: normal;
  letter-spacing: 0.02em;
  font-size: 24px;
  padding-right: 32px;
}

.slide_box {
  height: 524px;
}

.slide_box img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider_three_wrapper .slick-slide::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 235, 234, 0.5)), color-stop(36.65%, rgba(237, 236, 231, 0.9)));
  background: linear-gradient(90deg, rgba(239, 235, 234, 0.5) 0%, rgba(237, 236, 231, 0.9) 36.65%);
}

.slider_three_wrapper .slick-slide.slick-active::before {
  opacity: 0;
}

.index_rooms .chess_section .link_with_img {
  text-transform: none;
}

.first_line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(214, 180, 128, 0.5);
  right: 55px;
  bottom: -34%;
  -webkit-transform: translate(106%, 0) rotate(29deg);
          transform: translate(106%, 0) rotate(29deg);
}

.second_line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(214, 180, 128, 0.5);
  right: 30%;
  bottom: -34%;
  -webkit-transform: translate(106%, 0) rotate(29deg);
          transform: translate(106%, 0) rotate(29deg);
}

.container_left .first_line {
  right: unset;
  left: -30%;
  bottom: -34%;
  -webkit-transform: translate(-100%, 0) rotate(-29deg);
          transform: translate(-100%, 0) rotate(-29deg);
}

.container_left .second_line {
  right: unset;
  left: 30%;
  bottom: -34%;
  -webkit-transform: translate(-106%, 0) rotate(-29deg);
          transform: translate(-106%, 0) rotate(-29deg);
}

.chess_section .chess_block:last-child .second_line,
.chess_section .chess_block:last-child .first_line {
  display: none;
}

.block_img img {
  position: relative;
  z-index: 5;
}

.banner_main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner_info_wrapper {
  position: relative;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner_info_wrapper .circle_btn {
  color: #ffffff;
  margin-bottom: 44px;
}

.banner_list_item * {
  color: #FCF6F0;
  font-family: 'Gotham_Pro';
  font-weight: 300;
}

.banner_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.banner_list_item span {
  margin-right: 18px;
}

.title_wrapper {
  margin-right: 12%;
}

.title_wrapper h1 {
  margin-bottom: 32px;
}

.chess_section .block_img {
  max-height: 746px;
}

.room_detail .title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.room_detail .chess_section .block_info {
  padding-top: 0;
  padding-bottom: 0;
}

.room_detail .chess_section {
  background-color: #ffffff;
}

.room_detail .chess_section .block_img {
  max-height: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.room_detail .chess_section .block_img::before {
  display: none;
}

.room_detail .offer {
  padding-top: 0;
}

.room_detail .room_slide {
  max-height: 746px;
}

.room_detail .chess_section .block_img {
  width: 60%;
  max-width: 954px;
}

.room_detail .chess_section .container_right .block_info {
  padding-left: 116px;
}

.room_detail .chess_section .block_info {
  width: 40%;
}

.banner_second .title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.seasons_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.season {
  margin-right: 72px;
  margin-bottom: 24px;
}

.season h6 {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.season:last-child {
  margin-right: 0;
}

.room_price {
  font-size: 48px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  white-space: nowrap;
}

.room_price span {
  font-size: 24px;
  text-transform: uppercase;
}

.room_slider .slick-dots {
  height: 5px;
  background-color: rgba(66, 71, 76, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 522px;
  left: unset;
  bottom: -48px;
  right: 0;
}

.room_slider .slick-arrow {
  position: absolute;
  bottom: -65px;
}

.room_slider .slick-arrow:hover {
  cursor: pointer;
}

.room_slider .slick-arrow:hover path {
  stroke: #D6B480;
}

.room_slider .next_slide {
  right: 550px;
}

.room_slider .prev_slide {
  right: 607px;
}

.room_slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.room_slider .slick-active {
  background-color: #D6B480;
}

.room_slider .slick-dots li {
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.room_slider .slick-dots li button {
  display: block;
  height: 5px;
  width: 100%;
  font-size: 0px;
  padding: 0;
}

.room_slider .slick-dots li button:before {
  display: none;
}

.room_slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_wrspper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list_wrspper li {
  width: 30%;
  position: relative;
  margin-bottom: 18px;
}

.list_wrspper li::before {
  content: '';
}

.list_wrspper li span {
  margin-right: 12px;
}

.room_slide {
  max-height: 746px;
}

.room_detail .chess_section .block_img {
  width: 60%;
  max-width: 842px;
}

.room_detail .chess_section .detail_chess_img {
  width: 53%;
}

.room_detail .chess_section .detail_block_info {
  width: 47%;
}

.room_detail .chess_section .block_img {
  max-height: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.detail_block_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about_us_page .left_editor.text_editor {
  padding-right: 120px;
}

.about_us_page .section_benefits {
  padding-top: 120px;
}

.about_us_page .left_editor h2 {
  margin-top: 12px;
}

.about_us_page h1 {
  text-align: center;
  line-height: 1.4;
}

.banner_main_nav a {
  opacity: 0.4;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.banner_main_nav a:hover {
  opacity: 1;
}

.excursion_page .banner_main {
  margin-bottom: 120px;
}

.excursion_block {
  margin: 0 auto 64px;
  padding: 0 24px;
  width: 100%;
  max-width: 1112px;
}

.excursion_title_box {
  padding: 42px 24px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
}

.excursion_title_box h2 {
  color: #FCF6F0;
  letter-spacing: 0.02;
}

.excursion_title_box::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #16191D;
  opacity: 0.72;
  z-index: 0;
}

.excursion_description_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excursion_description_wrapper .text_editor {
  width: 58%;
}

.excursion_description_wrapper .button_wrapper {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spec_container {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 30%;
  position: relative;
  overflow: hidden;
  margin: 0 20px 40px;
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 50, 57, 0)), to(rgba(43, 50, 57, 0.7)));
  background: linear-gradient(180deg, rgba(43, 50, 57, 0) 0%, rgba(43, 50, 57, 0.7) 100%);
  z-index: 10;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.card::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 3px solid #D6B480;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
  z-index: 15;
}

.card .link {
  bottom: -40px;
  z-index: 20;
  color: #FCF6F0;
  left: 40px;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.card:hover::after {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  opacity: 1;
}

.card:hover .grid_title {
  bottom: 80px;
}

.card:hover .link {
  bottom: 40px;
  opacity: 1;
}

.card .link {
  position: absolute;
}

.card .grid_title {
  font-family: 'Azbuka_04';
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.banner_second .banner_info_wrapper {
  padding-left: 24px;
  padding-right: 24px;
}

.banner_second .title_wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.single_med_page .banner_list_wrapper {
  max-width: 522px;
}

.single_med_page .banner_list_wrapper * {
  color: #FCF6F0;
}

.back_to_services {
  position: relative;
  color: #FCF6F0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.back_to_services span {
  margin-right: 13px;
  padding-top: 4px;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.back_to_services:hover {
  color: #D6B480;
}

.back_to_services:hover span {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.gallery_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
}

.gallery_page .gallery::before {
  display: none;
}

.contact_page {
  padding-top: 120px;
}

.map_wrapper {
  width: 50%;
}

.contacts {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100vh;
}

.contacts h1 {
  color: #D6B480;
  -webkit-text-fill-color: #D6B480;
}

.contacts h2 {
  margin-top: 52px;
  margin-bottom: 12px;
}

.contacts .circle_btn {
  margin-top: 32px;
}

.contacts_content {
  width: 50%;
  padding-top: 88px;
  padding-left: 108px;
  padding-right: calc((100vw - 1328px) / 2 + 62px);
  padding-bottom: 120px;
}

.short_description {
  margin-bottom: 48px;
}

.adress_title {
  opacity: .5;
  margin-bottom: 8px;
}

.adress_box {
  margin-bottom: 32px;
}

.phone_number {
  margin-bottom: 12px;
  line-height: 1;
}

.phone_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 20px;
}

.social_box {
  width: 50%;
}

.adress_text:hover {
  color: #D6B480;
}

.social_link {
  margin-right: 12px;
}

.social_link:hover path {
  fill: #D6B480;
}

.adress_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.transfer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 112px;
}

.transfer_container h2 {
  margin-bottom: 12px;
}

.transfer_content, .transfer_form_wrapper {
  width: 50%;
}

.transfer_content {
  padding-right: 64px;
}

.transfer_content .phone_box {
  margin-top: 32px;
  margin-bottom: 32px;
}

.transfer_form_wrapper {
  padding-left: 64px;
}

@media only screen and (max-width: 1600px) {
  .page_description {
    padding: 90px 0 80px;
  }
  .animate_logo {
    top: -10px;
    left: 10vw;
  }
  .history_place {
    padding: 170px 0 160px;
  }
  .grid_el {
    height: 23vw;
  }
  .room_detail .chess_section .container_right .block_info {
    padding-left: 5%;
  }
  .slider .slick-list {
    padding-left: 10%;
    padding-right: 10%;
  }
  .counter_wrapper {
    right: 8.5%;
  }
  .slider .next_slide, .slider .prev_slide {
    right: 9%;
  }
}

@media only screen and (max-width: 1360px) {
  .slider_three_wrapper {
    padding-left: 24px;
  }
  .slider_three_wrapper .slick-list {
    padding-right: 0;
  }
  .slider_three_wrapper .link {
    font-size: 14px;
  }
  .slider_three_wrapper .slick-list {
    padding-right: calc((100vw - 1328px) / 2 - 20px);
  }
  .slider_three_wrapper .prev_slide,
  .slider_three_wrapper .next_slide {
    position: absolute;
    bottom: -80px;
  }
  .slider_three_wrapper .slick-dots {
    width: calc(100% - 120px);
    left: 100px;
  }
  .slider_three_wrapper .circle_btn {
    margin-left: auto;
    margin-right: 24px;
  }
  .slider_three_wrapper .prev_slide {
    left: 0;
  }
  .slider_three_wrapper .next_slide {
    left: 60px;
  }
  .slide_three {
    margin-right: 24px;
  }
  .room_slider .slick-dots {
    width: calc(100% - 120px);
    left: 120px;
    bottom: -48px;
    right: unset;
  }
  .room_slider .prev_slide {
    right: unset;
    left: 24px;
  }
  .room_slider .next_slide {
    right: unset;
    left: 68px;
  }
  .slide_info_wrapper {
    width: calc(100% - 112px);
  }
}

@media only screen and (max-width: 1280px) {
  .banner_main_content {
    margin-top: 0;
  }
  .banner_main_nav {
    display: none;
  }
  .animate_logo {
    top: -10px;
    left: 0;
    opacity: .4;
  }
  .page_description .title_wrapper h2 {
    font-size: 34px;
    margin-bottom: 12px;
  }
  .page_description .title_wrapper {
    margin-right: auto;
  }
  .offer {
    padding: 80px 0 90px;
  }
  .slider_three_wrapper .slick-dots {
    width: calc(100vw - 48px);
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider_three_wrapper .slick-dots li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(66, 71, 76, 0.08);
    margin: 0 10px;
  }
  .slider_three_wrapper .slick-dots {
    bottom: -45px;
  }
  .slider_three_wrapper .slick-dots li.slick-active {
    background-color: #D6B480;
  }
  .slider_three_wrapper .slick-dots {
    background-color: transparent;
    height: auto;
  }
  .slider_three_wrapper .circle_btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 76px;
    padding-right: 12px;
  }
  main .circle_btn .circle {
    width: 48px;
    height: 48px;
  }
  .room_price {
    font-size: 34px;
  }
  .season {
    margin-right: 54px;
  }
  .seasons_wrapper {
    margin-bottom: 24px;
  }
  .detail_chess_section .chess_block {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .detail_chess_section .container_right {
    padding-right: 0;
  }
  .detail_chess_section .block_img {
    margin-top: 42px;
  }
  .room_detail .chess_section.detail_chess_section .block_info {
    width: 100%;
  }
  .room_detail .chess_section.detail_chess_section .block_img {
    width: 100%;
    max-width: 100%;
  }
  .room_detail .detail_chess_section .block_info {
    padding-left: 24px;
    padding-right: 24px;
  }
  .room_detail .chess_section.detail_chess_section .container_right .block_info {
    padding-left: 24px;
  }
  .chess_section.detail_chess_section .chess_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detail_chess_section .room_slide {
    max-height: 450px;
  }
  .chess_section {
    margin-bottom: 60px;
  }
  .chess_section.detail_chess_section .container_right {
    padding-left: 0;
  }
  .detail_chess_second .block_info_img {
    display: none;
  }
  .detail_chess_second.chess_section .container_left .block_info {
    padding-right: 0;
  }
  .detail_chess_second .container_left {
    padding-left: 0;
  }
  .room_detail .detail_chess_section.detail_chess_second .block_info {
    padding-left: 0;
  }
  .detail_chess_second.chess_section .container_left .block_info.detail_block_info {
    padding-left: 24px;
    padding-right: 24px;
  }
  .detail_chess_second .block_img {
    margin-top: 0;
  }
  .room_detail .chess_section.detail_chess_second .block_img {
    max-height: 550px;
  }
  .excursion_page .banner_main {
    margin-bottom: 70px;
  }
  .title_wrapper {
    margin-right: 60px;
  }
  .slider_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .slider_description {
    margin: 12px 0;
  }
  .section_slider {
    padding: 60px 0 20px;
  }
  .counter_wrapper {
    top: 40%;
  }
  .slider .slide_info_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .room_properties {
    width: 45%;
  }
  .contacts_content {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .contacts {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .map_wrapper, .contacts_content {
    width: 100%;
  }
  .adress_box {
    width: 100%;
  }
  .social_box, .phone_box {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 32px;
  }
  .short_description {
    margin-bottom: 24px;
  }
  .adress_box {
    margin-bottom: 22px;
  }
  .contacts {
    height: auto;
  }
  .contacts h2 {
    margin-top: 20px;
  }
  .map_wrapper {
    min-height: 50vh;
  }
  .transfer_container {
    padding-top: 60px;
  }
  .transfer_content {
    padding-right: 24px;
  }
  .transfer_form_wrapper {
    padding-left: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .page_description {
    padding: 60px 0 50px;
  }
  .slider_three_wrapper h4 {
    font-size: 20px;
  }
  .slider_three_wrapper .grid_title {
    left: 20px;
  }
  .slide_three .link {
    left: 20px;
  }
  .slide_three:hover::after {
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    opacity: 1;
  }
  .slide_three .grid_title {
    font-size: 20px;
  }
  .second_line,
  .first_line {
    display: none;
  }
  .rooms_services {
    padding-top: 70px;
  }
  .counter_wrapper {
    display: none;
  }
  .slide {
    margin: 0 24px;
  }
  .slider .slick-list {
    padding-left: 5%;
    padding-right: 5%;
  }
  .slide_info_wrapper {
    width: calc(100% - 60px);
    padding: 24px 32px;
  }
  .slider .slick-current .slide_info_wrapper {
    -webkit-transform: translate(30px, -64px);
    transform: translate(30px, -64px);
  }
}

@media only screen and (max-width: 992px) {
  .room_slide {
    max-height: 500px;
  }
  .chess_section {
    margin-bottom: 0;
  }
  .chess_section.detail_chess_second .container_left {
    padding-right: 0;
  }
  .slider_title {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 924px) {
  .list_wrspper li {
    width: 50%;
    font-size: 14px;
  }
  .banner_second .banner_info_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner_second .title_wrapper {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .subtitle_small {
    font-size: 26px;
  }
  .page_description .title_wrapper h2 {
    font-size: 30px;
  }
  .grid_el {
    height: 50vw;
  }
  .grid_el:nth-child(4n+1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 10;
  }
  .grid_el:nth-child(4n+2) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 10;
  }
  .grid_el:nth-child(4n+3) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 10;
  }
  .grid_el:nth-child(4n+4) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 10;
  }
  .grid_el .link {
    left: 24px;
    font-size: 14px;
  }
  .grid_title {
    left: 24px;
    bottom: 24px;
  }
  .offer {
    padding: 40px 0 40px;
  }
  .offer h2 {
    margin-bottom: 22px;
  }
  .banner_info_wrapper {
    padding-left: 24px;
  }
  .banner_list_item {
    margin-bottom: 16px;
  }
  .about_us_page .left_editor.text_editor {
    padding-right: 0;
  }
  .excursion_description_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .excursion_description_wrapper .text_editor {
    width: 100%;
  }
  .excursion_description_wrapper .button_wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 12px auto 0;
  }
  .back_to_services {
    font-size: 14px;
  }
  .circle_btn {
    font-size: 14px;
  }
  .contacts_content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .transfer_content, .transfer_form_wrapper {
    width: 100%;
  }
  .transfer_form_wrapper {
    padding-left: 0;
  }
  .transfer_content {
    padding-right: 0;
  }
}

@media only screen and (max-width: 576px) {
  .history_place {
    padding: 130px 0 120px;
  }
  .banner_info_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .room_price {
    font-size: 34px;
  }
  .room_slider .slick-dots {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20;
    background-color: rgba(237, 236, 231, 0.5);
    padding: 0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .room_slider .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #42474C;
    opacity: 0.9;
    margin: 0 8px;
  }
  .room_slider .slick-dots .slick-active {
    background-color: #D6B480;
  }
  .seasons_wrapper {
    margin-bottom: 12px;
  }
  .room_price {
    font-size: 22px;
  }
  .room_price span {
    font-size: 16px;
  }
  .season_duration {
    font-size: 12px;
  }
  .season {
    margin-right: 22px;
  }
  .rooms_services {
    padding-top: 0;
  }
  .list_wrspper {
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
  }
  .list_wrspper::-webkit-scrollbar {
    width: 3px;
  }
  .list_wrspper::-webkit-scrollbar-track {
    background-color: #42474C;
  }
  .list_wrspper::-webkit-scrollbar-thumb {
    background-color: #D6B480;
  }
  .list_wrspper li {
    margin-bottom: 10px;
    width: 100%;
  }
  .slider .slick-current .slide_info_wrapper {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  .slide_info_wrapper {
    width: 100%;
  }
  .slide {
    margin: 0 12px;
  }
  .room_properties {
    width: 100%;
  }
  .slider .slide_info_wrapper {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  .slider .slick-current .slide_info_wrapper {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  .slider .slick-list {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media only screen and (max-width: 460px) {
  .slider_three_wrapper .slick-list {
    padding-right: 70px;
  }
  .season h6 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 420px) {
  .subtitle_small {
    font-size: 20px;
  }
  .page_description .title_wrapper h2 {
    font-size: 24px;
  }
  .slide_three .grid_title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  .season {
    margin-right: 22px;
  }
  .seasons_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */